body{
    font-family: 'Ninja Naruto', sans-serif;
}
#header{
    text-align: center;
}
#container{
    max-height: 1024px;
    max-width: 768px;
    /* border: 3px solid red; */
    margin: auto;
}
#sudoku {
    width:630px;
    height:630px;
    margin-left: 69px;
}
.parentCube {
    width:206px;
    height:206px;
    float:left;
    /* border: 2px solid green; */
}
.childCube {
    width:68px;
    height:68px;
    float:left;
    text-align: center;
    display: grid;
    align-items: center;
}
.cubeColorGrey{
    background-color: grey;
}
.cubeColorBlack{
    background-color: #464646;
}
.background{
    background-image: url("../ExamJSVanilla/1151373.png");
    background-size: cover;
}
button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#776959;
    text-align:center;
    transition: all 0.2s;
    margin-left: 14.5%;
    width: 100px;
    height: 50px;
}
    button:hover{
    color:#665050;
    background-color:#e6e6e6;
    }

@media all and (max-width:30em){
    button{
    display:block;
    margin:0.4em auto;
    }
}