
#header{
    text-align: center;
}
#container{
    max-height: 1024px;
    max-width: 768px;
    border: 2px solid red;
    margin: auto;
}
#sudoku {
    width:630px;
    height:630px;
    margin-left: 69px;
}
.parentCube {
    width:206px;
    height:206px;
    float:left;
    border: 2px solid green;
}
.childCube {
    width:68px;
    height:68px;
    float:left;
    text-align: center;
    display: grid;
    align-items: center;
}
.cubeColorGrey{
    background-color: grey;
}
  